:root {
  --color-primary: #768250;
  --color-secondary: #F2BC40;
  --color-tertiary: #2AC9F0;
  --color-danger: #D10713;
  --color-text: #392832;
  --color-bg: #EEEEEE;

  --ff-normal: Roboto, sans-serif;
  --ff-heading: Roboto, sans-serif;

  font-family: var(--ff-heading);
  line-height: 1.5;
  font-weight: 400;
  color: var(--color-text);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  min-width: 100vw;
  min-height: 100vh;
  background: var(--color-bg);
  display: flex;
  align-items: baseline;
  justify-content: center;
}

h1 {
  color: var(--color-primary);
  font-weight: 100;
  margin: 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-bg: var(--color-primary);
    --color-text: #EEEEEE;
  }

  h1 {
    color: var(--color-secondary);
  }
}
